<!DOCTYPE html>
<html>
<head>
    <title>
        <% if(typeof solutionName != 'undefined'){ %>
        <%=solutionName %><% } %>
        <% if(typeof taskName != 'undefined') { %>
        <%=taskName %>
        <% } %>
    </title>
    <%- include ../headInclude.ejs %>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/js/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/js/bootstrap-fileinput/css/fileinput.min.css"/>
    <link rel="stylesheet" type="text/css" href="/js/webix/webix.css" />
    <link rel="stylesheet" type="text/css" href="/css/aggregation/newAggre.css"/>

</head>
<body class="left-side-collapsed">
<!--<input id="test-upload-data" name="myfile" type="file" class="file">-->
<section>
    <%- include ../header.ejs %>
    <div id="aggreDIV" class="main-content row" style="">

        <div class="col-lg-12 col-md-12 col-sm-12 row" id="canvas-div">

            <div class="btn-toolbar" role="toolbar" id="toolbar">
                <div id="view-mode-toolbar" class="btn-group toolbar">
                    <button id="hand-tool" type="button" class="btn btn-default" title="pan mode" data-toggle="button"><i class="fa fa-hand-rock-o"></i></button>
                    <button id="select-tool" type="button" class="btn btn-default" title="select mode" data-toggle="button"><i class="fa fa-mouse-pointer"></i></button>
                    <button id="display-toggle-tool" type="button" class="btn btn-default" title="toggle whether to display IO" data-toggle="button"><i class="fa fa-eye-slash"></i></button>
                    <button id="back-pos-tool" type="button" class="btn btn-default" title="back to origin"><i class="fa fa-crosshairs"></i></button>
                    <button id="zoomIn-tool" type="button" class="btn btn-default" title="zoom in" data-toggle="button"><i class="fa fa-search-plus"></i></button>
                    <button id="zoomOut-tool" type="button" class="btn btn-default" title="zoom out" data-toggle="button"><i class="fa fa-search-minus"></i></button>
                </div>
                <div id="edit-mode-toolbar" class="btn-group toolbar">
                    <button id="edit-tool" type="button" class="btn btn-default" title="edit mode" data-toggle="button"><i class="fa fa-pencil"></i></button>
                    <button id="link-tool" type="button" class="btn btn-default" title="new link between two node" data-toggle="button"><i class="fa fa-code-fork"></i></button>
                    <button id="del-tool" type="button" class="btn btn-default" title="delete service" data-toggle="button"><i class="fa fa-trash"></i></button>
                    <button id="del-all-tool" type="button" class="btn btn-default" title="drop canvas"><i class="fa fa-file-o"></i></button>
                    <button id="save-solution-tool" type="button" class="btn btn-default" title="save aggregation solution"><i class="fa fa-floppy-o"></i></button>
                </div>
                <div id="configure-mode-toolbar" class="btn-group toolbar">
                    <button id="run-tool" type="button" class="btn btn-default" title="save and run aggregation task"><i class="fa fa-play"></i></button>
                    <button id="save-task-tool" type="button" class="btn btn-default" title="save aggregation task"><i class="fa fa-floppy-o"></i></button>
                </div>
            </div>

            <canvas  id="canvas"></canvas>

            <!-- ContextMenu -->
            <ul class="list-group contextMenu" id="eventContextMenu">
                <li id="upload-data-menu" class="list-group-item"><a>upload data</a></li>
                <li id="configure-data-menu" class="list-group-item"><a>configure data on line</a></li>
                <!--<li id="" class="list-group-item"><a>set source from node</a></li>-->
                <!--<li id="" class="list-group-item"><a>set source of node</a></li>-->
                <!--<li id="resize-node-menu" class="list-group-item"><a>resize</a></li>-->
            </ul>

            <ul class="list-group contextMenu" id="stateContextMenu">
                <li id="del-ms-menu" class="list-group-item"><a>delete model service</a></li>
                <li id="check-ms-menu" class="list-group-item"><a>check configuration</a></li>
                <!--<li id="resize-node-menu" class="list-group-item"><a>resize</a></li>-->
            </ul>

            <div id="config-tag">
                <div id="solution-info">
                    <input id="solutionID-input" style="display: none;" value="">
                    <span style="padding: 0 30px;"><span>Solution name: </span><span id="solution-name"></span></span>
                    <span><span>Author: </span><span id="solution-author"></span></span>
                </div>

                <div id="task-info">
                    <input id="taskID-input" style="display: none;" value="">
                    <span style="padding: 0 30px;"><span>Task name: </span><span id="task-name"></span></span>
                    <span><span>Author: </span><span id="task-author"></span></span>
                </div>
            </div>

        </div>

        <!-- save modal -->
        <div aria-hidden="true" tabIndex="-1" id='save-aggre-task-modal' class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="close-modal" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            Save this aggregation task
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form id="save-aggre-form" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="taskName" class="col-sm-2 control-label">Task Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="taskName"
                                           placeholder="task name" name="taskName" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="desc" class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea type="text" class="form-control" id="taskDesc"
                                              placeholder="input the description of the task" roles="3" name="taskDesc" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="author" class="col-sm-2 control-label">Author</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="taskAuthor"
                                           placeholder="please input your name" name="taskAuthor" required>
                                </div>
                            </div>
                            <div id="loading-div" style="display: none;text-align: center;">
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true" style="margin: 2px auto;"></i>
                            </div>
                            <hr>
                            <div class="form-group" style="">
                                <div class="col-sm-offset-2 col-sm-4">
                                    <button type="submit" class="btn btn-primary" id="submit-form-btn">Save</button>
                                </div>
                                <div class="col-sm-offset-2 col-sm-4">
                                    <button type="button" class="btn btn-default" id="cancle-form-btn" data-dismiss="modal">Cancle</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <!--<button type="button" class="btn-tt-submit btn btn-primary" id="save-aggre-btn">Save</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <!-- server side render data -->
        <% if(typeof solution != 'undefined'){ %>
            <p id="solution-detail" style="display: none;">'<%=solution %>'</p>
        <% } %>
        <% if(typeof task != 'undefined') {%>
            <p id="task-detail" style="display: none">'<%=task %>'</p>
        <% } %>

    </div>
</section>
<script type="text/javascript" src="/js/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<%- include ../footerInclude.ejs %>

<!--<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>-->

<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/webix/webix.js"></script>
<script type="text/javascript" src="/js/jtopo/js/jtopo-0.4.8.js"></script>
<script type="text/javascript" src="/js/bootstrap-fileinput/js/fileinput.js"></script>
<script type="text/javascript" src="/js/bootstrap-fileinput/js/locales/zh.js"></script>

<script type="text/javascript" src="/js/browserBundle.js"></script>

<script src="http://localhost:2345/livereload.js"></script>

<!--<script >-->
    <!--$('#test-upload-data').fileinput({-->
        <!--uploadUrl: '/geodata/file',-->
        <!--allowedFileExtensions: ['xml','zip'],-->
        <!--aploadAsync: true,-->
        <!--showPreview: false,-->
        <!--showUpload: true,-->
        <!--showRemove: true,-->
        <!--showClose: false,-->
        <!--showUploadedThumbs: false,-->
        <!--autoReplace: true,-->
        <!--maxFileCount: 1,-->
        <!--uploadLabel: '',-->
        <!--removeLabel: '',-->
        <!--cancelLabel: '',-->
        <!--browseLabel: '',-->
        <!--removeIcon: '<i class="glyphicon glyphicon-trash text-danger"></i>',-->
        <!--uploadIcon: '<i class="glyphicon glyphicon-upload text-info"></i>'-->
    <!--})-->
<!--</script>-->

</body>
</html>