<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/runModel.js"></script>
    <link href="/css/main1.css" rel="stylesheet">
    <link href="/css/uploadfile.css" rel="stylesheet">
    <script src="/js/jquery.uploadfile.js" type="text/javascript"></script>
</head>
<body>

<% include header.ejs %>

<!--start 主体body-->
<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading clearfix">
            <div class="clearfix">
                <div class="pull-left" id="modelNameDiv">
                    <h4><%= modelSer.m_name %></h4>
                </div>
                <div class="pull-right" id="runBtnDiv">
                    <button type="button" class="btn btn-lg btn-danger" id="btnRunModel" data-toggle="modal">运行模型</button>
                </div>
            </div>
            <div  id="progressDiv" >
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                         style="width: 40%;">
                        <span class="sr-only">40% 完成</span>
                    </div>
                </div>
            </div>


        </div>
        <div class="panel-body">
            <div id="tabDiv">
                <!-- Nav tabs -->
                <ul class="nav nav-tab vertical-tab" role="tablist" id="vtab">
                    <li role="presentation">
                        <a href="#divDetailInfo" id="tabDetailInfo" aria-controls="home" role="tab"
                           data-toggle="tab">模型详细信息</a>
                    </li>
                    <li role="presentation" id="tabServerInfo" class="active">
                        <a href="#divServerInfo"  aria-controls="inbox" role="tab"
                           data-toggle="tab">服务器信息</a>
                    </li>
                    <li role="presentation">
                        <a href="#divServerStatus" id="tabServerStatus" aria-controls="outbox" role="tab"
                           data-toggle="tab">服务器状态</a>
                    </li>
                    <li role="presentation" id="tabRunResult" class="hidden">
                        <a href="#divRunResult" aria-controls="inbox1" role="tab"
                           data-toggle="tab">模型运行结果</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content vertical-tab-content">
                    <div role="tabpanel" class="tab-pane active" id="divDetailInfo">
                        <h3>名称:<%=modelSer.m_name %></h3>
                        <h3>版本:<%=modelSer.mv_num %></h3>
                        <h3>类型:<%=modelSer.m_name %></h3>
                        <h3>注册时间:<%=modelSer.m_update %></h3>
                        <h3>描述:<%=modelSer.m_des %></h3>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="divServerInfo"></div>
                    <div role="tabpanel" class="tab-pane" id="divServerStatus"></div>
                    <div role="tabpanel" class="tab-pane" id="divRunResult">

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="upload">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">上传UDX参数</h4>
                </div>
                <div class="modal-body" id="uploadContent">
                    <div id="fileuploader">Upload</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnRun" data-dismiss="modal">运行</button>
                    <button type="button" class="btn btn-primary" id="btnClose" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end 主体body-->

<hr/>

<% include footer.ejs %>

</body>
</html>