<!DOCTYPE html>
<html>
<head>
    <title>门户云服务</title>
    <%- include headInclude.ejs %>
    <!--dynamic table-->
    <link href="/js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
    <link href="/js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
    <link type="text/css" href="/js/fuelux/css/tree-style.css" rel="stylesheet" />
    <link href="/js/data-tables/DT_bootstrap.css" rel="stylesheet" />
    <link href="/js/treeview/css/bootstrap-treeview.css" rel="stylesheet" />
</head>
<body class="sticky-header">
<section>
    <!-- 左导航栏 -->
    <%- include header.ejs %>
    <div class="main-content">
        <!-- 上导航栏 -->
        <%- include nav.ejs %>
        <div id="cloudModelSerTable" data-source="/modelser/cloud/category"></div>
        <%- include footer.ejs %>
    </div>
</section>

<%- include footerInclude.ejs %>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="/js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/js/data-tables/DT_bootstrap.js"></script>
<script type="text/javascript" src="/js/treeview/js/bootstrap-treeview.js"></script>
<!--dynamic table initialization -->
<script src="/js/output/bundle.js" ></script>
</body>
</html>