<!DOCTYPE html>
<html>
<head>
    <title>门户云服务</title>
    <%- include headInclude.ejs %>
    <!--dynamic table-->
    <!--<link type="text/css" href="/js/fuelux/css/tree-style.css" rel="stylesheet" />-->

    <!--<link href="/css/bootstrap.css" rel="stylesheet" />-->

    <link href="/js/treeview/css/bootstrap-treeview.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/js/webix/webix.css" />
    <link href="/css/prettify.css" rel="stylesheet" />
    <link href="/css/bootstrap-modal-bs3patch.css" rel="stylesheet" />
    <link href="/css/bootstrap-modal.css" rel="stylesheet" />
    <link href="/js/webix/web.css" rel="stylesheet" />

    <style>
        .webix-list-header{
            background:#d2e3ef;
            border-width:0 0 1px 0 !important;
            border-bottom:1px solid #FFF
        }
        .matchList-matched{
            background-color: rgba(212, 223, 255, 0.27) !important
        }
        .matchList-unmatched{
            background-color: rgba(255, 99, 99, 0.2)
        }
        .matchList-null{
            background-color: rgba(255, 255, 255, 1) !important
        }
        .webix_cell[aria-level='2'] > .webix_tree_checkbox{
            display: none
        }
        .webix_cell[aria-level='3'] > .webix_tree_checkbox{
            display: none
        }
        .webix_cell[aria-level='4'] > .webix_tree_checkbox{
            display: none
        }
        .webix_cell[aria-level='5'] > .webix_tree_checkbox{
            display: none
        }
        .webix_cell[aria-level='6'] > .webix_tree_checkbox{
            display: none
        }
        .tabletree-header{
            height:35px;
        }
        .tabletree-operate{
            text-align:center;
        }
        .tabletree-btn{
            margin:0 5px;
        }
        .tabletree-delbtn{
            background-color: #c5555f;
            border-color: #ac2e41;
        }
        .tabletree-delbtn:hover{
            background-color: #c53c41;
            border-color: #ac2d40;
        }
        .tabletree-editbtn{
            background-color: #a9d86e;
            border-color: #90d85f;
        }
        .tabletree-editbtn:hover{
            background-color: #94d86c;
            border-color: #90d85f;
        }
        input[type=checkbox]{
            margin:0 !important;
        }
        .paging1{
            width:100px;
            float:left;
            text-align:center;
        }
        .webix_checked{
            color:#47a447;
            font-weight: bold; cursor:pointer;
        }
        .webix_notchecked{
            color:#ed9c28;
            font-weight:bold; cursor: pointer;
        }
        .panel-heading{
            text-transform:none
        }
    </style>
</head>
<body class="sticky-header">
<section>
    <!-- 左导航栏 -->
    <%- include header.ejs %>
    <div class="main-content">
        <!-- 上导航栏 -->
        <%- include nav.ejs %>
        <div id="cloudModelSerTable" data-source="/modelser/cloud/category"></div>
        <%- include footer.ejs %>
    </div>
</section>

<%- include footerInclude.ejs %>

<!--dynamic table-->
<!--<script type="text/javascript" language="javascript" src="/js/advanced-datatable/js/jquery.dataTables.js"></script>-->
<!--<script type="text/javascript" src="/js/data-tables/DT_bootstrap.js"></script>-->
<script type="text/javascript" src="/js/treeview/js/bootstrap-treeview.js"></script>
<script type="text/javascript" src="/js/prettify.js"></script>
<script type="text/javascript" src="/js/bootstrap-modalmanager.js"></script>
<script type="text/javascript" src="/js/bootstrap-modal.js"></script>

<script type="text/javascript" src="/js/webix/webix.js"></script>
<script src="/js/output/bundle.js" ></script>
</body>
</html>