<!DOCTYPE html>
<html>
<head>
    <title>模型浏览</title>
    <%- include headInclude.ejs %>
</head>
<body class="sticky-header">
<section>
    <!-- 左导航栏 -->
    <%- include header.ejs %>
    <div class="main-content">
        <!-- 上导航栏 -->
        <%- include nav.ejs %>

        <div class="adv-table">
            <table  class="display table table-bordered table-striped" id="dynamic-table">
                <thead>
                    <tr>
                        <th>模型名称</th>
                        <th>模型版本</th>
                        <th>平台</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                    data.forEach(function (item) {
                        %><tr>
                        <td><%=item.ms_model.m_name %></td>
                        <td><%=item.mv_num %></td>
                        <td>
                            <span class="label label-info">
                                <i class="fa fa-windows"></i>
                                windows
                            </span>
                        </td>
                        <td><%if(item.ms_status == 1)
                            {
                                %><span class="badge badge-success">可用</span><%
                            }
                            else
                            {
                                %><span class="badge badge-defult">不可用</span><%
                            }%>
                        </td>
                        <td>
                            <button class="btn btn-info btn-xs" type="button">
                                <i class="fa fa-book"></i>
                                详情
                            </button>
                            <%if(item.ms_status == 1)
                            {%>
                            <button class="btn btn-default btn-xs" type="button">
                                <i class="fa fa-retweet"></i>调用
                            </button>
                            <button class="btn btn-danger btn-xs" type="button">
                                <i class="fa fa-stop"></i>
                            </button><%
                            }else
                            {%>
                            <button class="btn btn-default btn-xs" disabled="disabled" type="button">
                                <i class="fa fa-retweet"></i>调用
                            </button>
                            <button class="btn btn-success btn-xs" type="button">
                                <i class="fa fa-play"></i>
                            </button>
                            <button class="btn btn-warning btn-xs" type="button">
                                <i class="fa fa-trash-o"></i>
                            </button>
                            <% }%>

                        </td>
                        </tr><%
                    });
                    %>
                </tbody>
            </table>
        </div>
        <%- include footer.ejs %>
    </div>
</section>
<%- include footerInclude.ejs %>
</body>
</html>
