<!DOCTYPE html>
<html>
<head>
    <title>模型服务运行实例</title>
    <%- include headInclude.ejs %>
</head>
<body class="sticky-header">
<section>
    <!-- 左导航栏 -->
    <%- include header.ejs %>
    <div class="main-content">
        <!-- 上导航栏 -->
        <%- include nav.ejs %>



        <%- include footer.ejs %>
    </div>
</section>
<%- include footerInclude.ejs %>
</body>
</html>
