<!DOCTYPE html>
<html>
<head>
    <title>模型服务器设置</title>
    <%- include headInclude.ejs %>
</head>
<body class="sticky-header">
<section>
    <!-- 左导航栏 -->
    <%- include header.ejs %>
    <div class="main-content">
        <!-- 上导航栏 -->
        <%- include nav.ejs %>

        <div style="min-height: 600px">
            <h1>设置界面</h1>
        </div>

        <%- include footer.ejs %>
    </div>
</section>
<%- include footerInclude.ejs %>
</body>
</html>